.battery-wrapper {
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: 20px;
    padding: 15px;
    margin: 10px;

    .image-wrapper {
        position: relative;
        top: 20px;

        .filling {
            position: absolute;
            top: 32px;
            left: 7px;
            height: 110px;
            z-index: 3;
        } 

        .outline {
            position: relative;
            height: 150px;
            z-index: 2;
        }
    }

    

    // this low-battery style gives a stronger red when the battery is low
    //.low-battery {
    //    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(10);
    //}

    .low-battery {
        filter: brightness(50%) sepia(200%);
    }

    .full-battery {
        filter: grayscale(100%) brightness(200%) sepia(100%) hue-rotate(50deg) saturate(900%) contrast(0.8);
    }

    .temp-problem, .voltage-problem {
        color: rgb(249, 115, 115);
        animation-name: parpadeo;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .not-started {
        animation-name: parpadeo;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite; 
    }
    @keyframes parpadeo {  
        0% { opacity: 1.0; }
         50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    .information-wrapper {
        display: flex;
        flex-direction: column;
        min-width: 560px;
        font-size: 24px;
        letter-spacing: 3px;

        .title {
            text-align: right;
        }

        .table-wrapper {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: stretch;

            table {
                width: 100%;

                tr {
                    td {
                        padding: 2px 0;
                    }
                }
            }

            .property-voltage {
                font-size: 48px;
                flex-grow: 1;
                width: 100%;
                margin-right: 30px;
                text-align: center;
            }

            .property-value {
                flex-grow: 1;
                width: 100%;
                margin-right: 30px;
                text-align: center;
                color: white;
            }
            
            .property-units {
                text-align: right;
            }

            .property-title {
                text-align: left;
            }
        }
    }
}
