<div class="battery-wrapper">

    <div class="image-wrapper">
        <img class="outline" src="../../assets/img/battery-outline.svg" alt="">
        <img [ngStyle]="this.getBatteryStyle()" class = "filling" [ngClass]="this.batteryClasses" src="../../assets/img/battery-filling.svg" alt="">
    </div>

    <div class="information-wrapper">

        <div class="table-wrapper">

            <table>

                <tr>
                    <td class="property-voltage"> <strong>{{this.battery.getPercentage()}}%</strong></td>
                </tr>

                <tr>
                    <td class="property-value" [ngClass]="this.voltageProblem">
                        Min: {{this.battery.getMinVoltage()}}V | Out: {{this.battery.getVoltage()}}V | Max: {{this.battery.getMaxVoltage()}}V
                    </td>
                </tr>

                <tr>
                    <td class="property-value" [ngClass]="this.currentProblem">
                        Min: {{this.battery.getMinCurrent()}}A | Out: {{this.battery.getCurrent()}}A | Max: {{this.battery.getMaxCurrent()}}A
                    </td>
                </tr>
                    
                <tr>
                    <td class="property-value" [ngClass]="this.tempProblem">
                        Min: {{this.battery.getMinTemp()}}ºC | Out: {{this.battery.getTemp()}}ºC | Max: {{this.battery.getMaxTemp()}}ºC
                    </td>
                </tr>
                

            </table>

        </div>

    </div>


</div>