.battery-wrapper {
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: 20px;
    padding: 40px;
    margin: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.25);
    border-radius: 5px;

    .image-wrapper {
        position: relative;

        .filling {
            position: absolute;
            top: 0;
            left: 0;
        } 
    }

    .low-battery {
        filter: brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(10);
    }

    .information-wrapper {
        display: flex;
        flex-direction: column;
        min-width: 225px;

        .title {
            text-align: center;
        }

        .table-wrapper {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: stretch;

            table {
                width: 100%;

                tr {
                    td {
                        padding: 20px 0;
                    }
                }
            }

            .property-value {
                flex-grow: 1;
                width: 100%;
                margin-right: 30px;
                text-align: right;
            }
            
            .property-units {
                text-align: right;
            }

            .property-title {
                text-align: left;
            }
        }
    }

}