.battery-wrapper {
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: 20px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 0px rgba(57, 234, 223);
    border-radius: 5px;

    .image-wrapper {
        position: relative;

        .filling {
            position: absolute;
            top: 40px;
            left: 16px;
            height: 91px;
            z-index: 3;
        } 

        .outline {
            position: relative;
            height: 150px;
            z-index: 2;
        }
    }

    .low-battery {
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(10);
    }

    .information-wrapper {
        display: flex;
        flex-direction: column;
        min-width: 400px;
        font-size: 24px;

        .title {
            text-align: right;
        }

        .table-wrapper {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: stretch;

            table {
                width: 100%;

                tr {
                    td {
                        padding: 1px 0;
                    }
                }
            }

            .property-voltage {
                font-size: 48px;
                flex-grow: 1;
                width: 100%;
                margin-right: 30px;
                text-align: center;
            }

            .property-value {
                flex-grow: 1;
                width: 100%;
                margin-right: 30px;
                text-align: center;
            }
            
            .property-units {
                text-align: right;
            }

            .property-title {
                text-align: left;
            }
        }
    }
}
