.title {
    padding-left: 20px;
    text-align: left;
    font-size: 58px;
}

.batteries-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100%;
}

.general-charge-img {
    vertical-align: middle;
}

.temp-sensors-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100%;
}