.header {
    position: relative;
    font-size: 36px;
    display: flex;
    align-items: center;
    top: 50px;
    justify-content: center;

    .title {
        padding-right: 1350px;
        letter-spacing: 2px;
        animation-name: run;
        animation-duration: 2s;
    }
    @keyframes run {
        0% { padding-right: 2800px; }
        100% { padding-right: 1350px; }
    }
}


.batteries-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100%;
    
    
}

.reverse {
    display: flex;
    flex-direction: row-reverse; 
    direction: rtl;
    margin: -10px;                  // Fix the margin applied by display: flex
    //background-color: blue;
}


.central-item {
    position: relative;
    top: 100px;
    

    .general-charge-img {
        vertical-align: middle;
        z-index: 1;
    }

    /* //Style used for charge-filling.svg
    .general-charge-img-filling
    {
        position: absolute;
        left: 13px;
        top: 39px;
        opacity: 0.5;
        z-index: -1;    
    }
    */

    //Style used for charge-filling2.png
    .general-charge-img-filling
    {
        position: absolute;
        transform: scale(0.24);
        left: -479px;
        top: -449px;
        opacity: 0.5;
        z-index: -1;    
    }


    .charge-value {
        position: relative;
        text-align: center;
        font-size: 80px;
        bottom: 215px;
        color: white;
        z-index: 2;
    }

    .charge-text {
        color: white;
        position: relative;
        text-align: center;
        font-size: 20px;
        bottom: 190px;
        letter-spacing: 10px;
        z-index: 3;
    }

    .op-mode-button {
        position: absolute;
        padding: 3px 30px;
        border: 0px;
        border-radius: 30px;
        left: 0px;
        top: 400px;
        background-color: rgb(15, 199, 187);
        font-size: 13px;
        text-align: center;
        color: white;
        letter-spacing: 7px;
        line-height: 25px;
    }

}

.bms-footer {
    position: relative;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    .lighting-icon {
        position: relative;
        right: 65px;
        top: 35px;
    }
    .state-machine {
        display: block;
        position: relative;
        text-align: center;
        letter-spacing: 7px;
        line-height: 0px;
    }

    .elipse-inf {
        position: absolute;
        padding-top: 50px;
    }
}
