<div class="bms-tab">

  <div class="header">
     <h1 class="title">BMS LV</h1>
    <img class="logo" src="../assets/img/logo.svg" alt="">
  </div>
  
  <br>

    <div class="batteries-wrapper">
      <table>

        <td>
          <app-battery *ngFor="let number of [0,1,2]" [battery]="this.batteries[number]"></app-battery>
        </td>

        <td class="central-item">

          <img class="general-charge-img" src="../assets/img/charge.svg" alt="">
          <img [ngStyle]="this.getGeneralChargeStyle()" class="general-charge-img-filling" src="../assets/img/charge-filling2.png" alt="">

          <p class="charge-value" id="general-charge">{{getTotalCharge()}}%</p>
          <p class="charge-text">CHARGE</p>
          
          <button class="op-mode-button" (click)="startApp()">OPERATIONAL MODE: <br/>{{getState()}}</button>

        </td>

        <td>
          <app-battery class="reverse" *ngFor="let number of [3,4,5]" [battery]="this.batteries[number]"></app-battery>
        </td>

      </table>
    </div>
  
  <br>

</div>

<footer>
  <div class="bms-footer">
    <img class="elipse-inf" src="../../assets/img/elipse-inf.svg" alt="">

    <div class="container">
        <img class="lighting-icon" src="../../assets/img/lightning.svg" alt="" >
        <p class="state-machine">OPERATIONAL STATE: {{getState()}}</p>
    </div>

  </div>
</footer>